<header class="masthead clearfix">
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <h3><a class="navbar-brand" href="http://www.sashahavia.com/">Sasha Havia</a></h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse nav-masthead app-nav" id="navbarNav">
    <%= nav_helper 'nav-link', 'span' %>
    <%= login_helper 'nav-link' %>
  </div>
</nav>
</header>

