<div class="app-card-container">
  <div class="card about">
    <h1>About Me</h1>
    <hr>
    <div class="row about-me">
      <div class="col-md-4">
        <%= image_tag "small.jpg", width: 260, alt: "profile image" %>

        <!-- <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h6><%= skill.title %></h6>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  style="width: <%= skill.percent_utilized %>%"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          <% end %>
        </div> -->
      </div>
      <div class="col-md-8 text-about">
        <p>I’ve loved computers ever since I built my first computer from scratch.  I was still far away from understanding the capability of computers at that time and ignored that passion. Ever since I wrote my first animation using Actionscript I was determined to learn to code and that old passion rekindled something in me. That is why, I decided to join a Computer Science program and recently graduated cum laude from Brooklyn College. However, I realized I was missing some required skills not offered during my studies at BC. That is why, I have decided to join the Grace Hopper program at Fullstack Academy. As I am about to graduate from Fullstack Academy, I am looking for a full-time position as a Full-Stack engineer.</p>

        <p>
          <!-- <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button> -->

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <button class="btn btn-primary" onClick="window.open('/my-portfolios/Aliaksandra_Havia.pdf')">My Resume</button>
        </p>

        <p>
          <!-- <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div> -->

          <div class="collapse" id="education">
            <div class="card card-block">
              Fullstack Academy - April to August, 2018<br>
              The Grace Hopper Program<br>
              Software Immersive program
            </div>
            <div class="card card-block">
              Brooklyn College - September 2013 to May 2018<br>
              BS in Computer Science<br>
              Minor in Multimedia
            </div>
            <div class="card card-block">
              New York Code & Design Academy - August to November, 2015<br>
              Web Development 16 weeks course
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



