<div class="app-card-container">
  <div class="card about">
    <h1>About Me</h1>
    <hr>
    <div class="row about-me">
      <div class="col-md-4">
        <%= image_tag "me.jpg", width: 260, alt: "profile image" %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h6><%= skill.title %></h6>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning" 
                  role="progressbar" 
                  style="width: <%= skill.percent_utilized %>%" 
                  aria-valuenow="<%= skill.percent_utilized %>" 
                  aria-valuemin="0" 
                  aria-valuemax="100"></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8 text-about">
        <p>Hi, there. I am a senior in Brooklyn College majoring in Computer Science and anticipate graduating in Spring 2018. </p>

        <p>My coursework has exposed me to an extensive set of programming expertise. Some of the projects I’ve completed include having written a simulation of an Operating System, a Bank simulation and a Stock Quote Dynamic Application in Java. I also worked on a project for Brooklyn College Office of Scholarships to help them automate some of the processes that were done manually. One of these processes was to allow them to upload an excel file through a webpage link and output a detailed report on the screen with how many entries were matched with the existing database and how many and which ones were new records. </p>

        <p>In addition to my academic coursework, I have been developing websites for local businesses as a freelancer. I have also completed a 16-week course at the New York Code and Design Academy to expand my skill set in Front-End development. Currently, I'm attending CUNYCodes where I am developing a web application in a team of seven using Agile development environment.</p>

        <p>
          <!-- <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button> -->

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <button class="btn btn-primary" onClick="location.href='/Aliaksandra_Havia.pdf' target='_blank'">My Resume</button>
        </p>

        <p>
          <!-- <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div> -->

          <div class="collapse" id="education">
            <div class="card card-block">
              Brooklyn College 2014 - 2018<br>
              BS in Computer Science<br>
              Minor in Multimedia
            </div>
            <div class="card card-block">
              New York Code & Design Academy<br>
              Web Development 16 weeks course
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>



