<!-- <div class="container contact"> -->
<div class="app-card-container contact">
  <div class="card">
    <h3>Contact me</h3>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <h4>Location</h4>

        <p>Brooklyn, NY</p>

        <!-- <h4>Phone</h4> -->

        <!-- <p><%= number_to_phone "7187244954" %></p> -->

        <h4>Email</h4>

        <p><a href="mailto:sasha.havia@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193747.657349797!2d-74.08508270663029!3d40.64515936209603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24416947c2109%3A0x82765c7404007886!2sBrooklyn%2C+NY!5e0!3m2!1sen!2sus!4v1522857623959" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

